h1{/*selects any h1 tag in the ejs file*/
    color: red;/*changes the text color to red*/
}
.completed{/* selects any tag with class of completed*/
    color: gray;/*changes the text color to gray*/
    text-decoration: line-through;/*applies strikethough styling to the txt*/
}